@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IM_Hyemin-Bold';
}

html{
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/main.jpg");  /* fallback for old browsers */     
    background-size: cover; /* 이미지로 꽉 채우기. 단 이미지 잘릴 가능성 있음 */
    background-repeat: no-repeat; /* 바둑판 효과 없음 */
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.content, section{
    width: 100%;
    height: 100%;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0; 
    width: 100%;
    font-size: 20px;
}
